
.container {
  max-width: 800px;
  margin-top: 1em;
  line-height: 2em;
}

.hodor {
  max-height: 15em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.bookmarklet {
  border: 1px solid #999;
  padding: 3px 5px;
  border-radius: 3px;
  font-weight: bold;
  background-color: #ddd;
}
.bookmarklet:hover {
  border: 1px solid #000;
  text-decoration: none;
}